body {
    font-family: dosis;
    background-color: #E0BF28;
    color: #17178F;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"oswald";
    text-align:center;
}
h1 {
    font-size: 40pt;
}

header{
    text-align: center;
}

#hero, footer {
    border:2px solid #00BDE0;
    background-color: #28E06F;
    text-align: center;
    padding: 10px;
}

#hero img {
    width: 400px;
}

#bio {
    text-align: center;
}

#netlify {
    background-color: #28E06F;
    width: 100px;
    border: 2px ridge #00BDE0;
}


#hobbies ul li:nth-child(even) {
    color: black;

}
