body {
    font-family: dosis;
    background-color: #50935D;
    color: #694A4F;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"oswald";
    font-size: 40pt;
}

header{
    text-align: center;
}

#hero, footer {
    border:2px solid #A84D5B;
    background-color: #31E855;
    text-align: center;
    padding: 10px;
}

#hero img {
    width: 400px;
}

#bio {
    text-align: center;
}

#netlify {
    background-color: #31E855;
    width: 100px;
    border: 2px ridge #A84D5B;
}
